.home-container{
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-content h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: #192252;
}

.home-content h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #848FAC;
    margin-top: 2rem;
    padding-bottom: 4rem;
}

@media screen and (max-width:1000px) {
    .home-container{
        flex-direction: column;
        padding: 6rem 4rem;
    }

    .home-image img{
        width: 100%;
        margin-top: 2rem;
    }
}